@import "tailwindcss";
@import "@fontsource/bebas-neue";
@import "react-loading-skeleton/dist/skeleton.css";
@theme {
  --color-primary: #fe0000;
  --color-secondary: #e3291f;
}

body {
  font-family: "Bebas Neue", sans-serif;
}

@utility mask-fade-bottom {
  mask-image: linear-gradient(to bottom, black, 90%, transparent);
}
